*  {
 	-webkit-user-select:none; 
 	-webkit-tap-highlight-color:rgba(255, 255, 255, 0);
}
	
input, textarea  { 
	-webkit-user-select:text; 
}

body { 
	background-color:#b0c4de;                                          /* kleur van bg */
	color:black;                                                       /* kleur van tekst */
}

button{
	display: block;
	margin: auto;
	margin-top: 10px;
	width: 100%;
	padding: 10px;
	background: #FFFFFF;
}
		
img#smallImage {                                                        /* afmeting van foto */
	display:none;
	width: 75%;
	height: auto;
}

img#largeImgage {
	display:none;
}

.show {
	display: block;
}

.hide {
	display: none;
}
